In [3]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns

In [4]:
df = pd.read_csv("https://drive.google.com/uc?id=19zgQEeZNUtybmQ4ZxGtwR6i-NdqQJKBK")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  int64
 1   id                                 25976 non-null  int64
 2   Gender                             25976 non-null  object
 3   Customer Type                      25976 non-null  object
 4   Age                                25976 non-null  int64
 5   Type of Travel                     25976 non-null  object
 6   Class                              25976 non-null  object
 7   Flight Distance                    25976 non-null  int64
 8   Inflight wifi service              25976 non-null  int64
 9   Departure/Arrival time convenient  25976 non-null  int64
 10  Ease of Online booking             25976 non-null  int64
 11  Gate location                      25976 non-null  int64
 12  Food and drink                     25976 non-null  int64
 13  Online boarding                    25976 non-null  int64
 14  Seat comfort                       25976 non-null  int64
 15  Inflight entertainment             25976 non-null  int64
 16  On-board service                   25976 non-null  int64
 17  Leg room service                   25976 non-null  int64
 18  Baggage handling                   25976 non-null  int64
 19  Checkin service                    25976 non-null  int64
 20  Inflight service                   25976 non-null  int64
 21  Cleanliness                        25976 non-null  int64
 22  Departure Delay in Minutes         25976 non-null  int64
 23  Arrival Delay in Minutes           25893 non-null  float64
 24  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 5.0+ MB

In [6]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [7]:
df.columns

Index(['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [8]:
# 1. Cleaning: Drop unnecessary columns
# 'Unnamed: 0', 'id' are identifiers/artifacts not useful for prediction
cols_to_drop = ['Unnamed: 0', 'id']
df_clean = df.drop(columns=[c for c in cols_to_drop if c in df.columns])

# 2. Validation & Cleaning: Handle Missing Values
# Based on the df.info, 'Arrival Delay in Minutes' has missing values.
# We fill with median (robust to outliers).
df_clean['Arrival Delay in Minutes'] = df_clean['Arrival Delay in Minutes'].fillna(df_clean['Arrival Delay in Minutes'].median())

# 3. Feature Engineering
# Create 'Total Delay'
df_clean['Total Delay'] = df_clean['Departure Delay in Minutes'] + df_clean['Arrival Delay in Minutes']

# Create 'Delay Category' (No Delay, Short Delay, Long Delay)
def categorize_delay(x):
    if x == 0: return 'No Delay'
    elif x <= 30: return 'Short Delay'
    else: return 'Long Delay'
df_clean['Delay Category'] = df_clean['Total Delay'].apply(categorize_delay)

# 4. Encoding
# Label Encoding for Target ('satisfaction')
satisfaction_map = {'neutral or dissatisfied': 0, 'satisfied': 1}
df_clean['satisfaction_encoded'] = df_clean['satisfaction'].map(satisfaction_map)

# Ordinal Encoding for 'Class' (Order matters)
class_map = {'Eco': 1, 'Eco Plus': 2, 'Business': 3}
df_clean['Class_encoded'] = df_clean['Class'].map(class_map)

# One-Hot Encoding for nominal variables (Gender, Customer Type, Type of Travel)
# We use get_dummies just to show how it's done, but we'll keep the original columns for EDA readability
df_encoded = pd.get_dummies(df_clean, columns=['Gender', 'Customer Type', 'Type of Travel'], drop_first=True)


# ==========================================
# PART 2: EXPLORATORY DATA ANALYSIS (EDA)
# ==========================================

print("--- SHAPE ---")
print(df_clean.shape)
print("\n--- INFO ---")
print(df_clean.info())
print("\n--- DESCRIBE (Numerical) ---")
print(df_clean.describe())

--- SHAPE ---
(25976, 27)

--- INFO ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 27 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             25976 non-null  object
 1   Customer Type                      25976 non-null  object
 2   Age                                25976 non-null  int64
 3   Type of Travel                     25976 non-null  object
 4   Class                              25976 non-null  object
 5   Flight Distance                    25976 non-null  int64
 6   Inflight wifi service              25976 non-null  int64
 7   Departure/Arrival time convenient  25976 non-null  int64
 8   Ease of Online booking             25976 non-null  int64
 9   Gate location                      25976 non-null  int64
 10  Food and drink                     25976 non-null  int64
 11  Online boarding                    25976 non-null  int64
 12  Seat comfort                       25976 non-null  int64
 13  Inflight entertainment             25976 non-null  int64
 14  On-board service                   25976 non-null  int64
 15  Leg room service                   25976 non-null  int64
 16  Baggage handling                   25976 non-null  int64
 17  Checkin service                    25976 non-null  int64
 18  Inflight service                   25976 non-null  int64
 19  Cleanliness                        25976 non-null  int64
 20  Departure Delay in Minutes         25976 non-null  int64
 21  Arrival Delay in Minutes           25976 non-null  float64
 22  satisfaction                       25976 non-null  object
 23  Total Delay                        25976 non-null  float64
 24  Delay Category                     25976 non-null  object
 25  satisfaction_encoded               25976 non-null  int64
 26  Class_encoded                      25976 non-null  int64
dtypes: float64(2), int64(19), object(6)
memory usage: 5.4+ MB
None

--- DESCRIBE (Numerical) ---
                Age  Flight Distance  Inflight wifi service  \
count  25976.000000     25976.000000           25976.000000
mean      39.620958      1193.788459               2.724746
std       15.135685       998.683999               1.335384
min        7.000000        31.000000               0.000000
25%       27.000000       414.000000               2.000000
50%       40.000000       849.000000               3.000000
75%       51.000000      1744.000000               4.000000
max       85.000000      4983.000000               5.000000

       Departure/Arrival time convenient  Ease of Online booking  \
count                       25976.000000            25976.000000
mean                            3.046812                2.756775
std                             1.533371                1.412951
min                             0.000000                0.000000
25%                             2.000000                2.000000
50%                             3.000000                3.000000
75%                             4.000000                4.000000
max                             5.000000                5.000000

       Gate location  Food and drink  Online boarding  Seat comfort  \
count   25976.000000    25976.000000     25976.000000  25976.000000
mean        2.977094        3.215353         3.261665      3.449222
std         1.282133        1.331506         1.355536      1.320090
min         1.000000        0.000000         0.000000      1.000000
25%         2.000000        2.000000         2.000000      2.000000
50%         3.000000        3.000000         4.000000      4.000000
75%         4.000000        4.000000         4.000000      5.000000
max         5.000000        5.000000         5.000000      5.000000

       Inflight entertainment  ...  Leg room service  Baggage handling  \
count            25976.000000  ...      25976.000000      25976.000000
mean                 3.357753  ...          3.350169          3.633238
std                  1.338299  ...          1.318862          1.176525
min                  0.000000  ...          0.000000          1.000000
25%                  2.000000  ...          2.000000          3.000000
50%                  4.000000  ...          4.000000          4.000000
75%                  4.000000  ...          4.000000          5.000000
max                  5.000000  ...          5.000000          5.000000

       Checkin service  Inflight service   Cleanliness  \
count     25976.000000      25976.000000  25976.000000
mean          3.314175          3.649253      3.286226
std           1.269332          1.180681      1.319330
min           1.000000          0.000000      0.000000
25%           3.000000          3.000000      2.000000
50%           3.000000          4.000000      3.000000
75%           4.000000          5.000000      4.000000
max           5.000000          5.000000      5.000000

       Departure Delay in Minutes  Arrival Delay in Minutes   Total Delay  \
count                 25976.00000              25976.000000  25976.000000
mean                     14.30609                 14.693756     28.999846
std                      37.42316                 37.466787     74.057223
min                       0.00000                  0.000000      0.000000
25%                       0.00000                  0.000000      0.000000
50%                       0.00000                  0.000000      2.000000
75%                      12.00000                 13.000000     24.000000
max                    1128.00000               1115.000000   2243.000000

       satisfaction_encoded  Class_encoded
count          25976.000000   25976.000000
mean               0.438982       2.035841
std                0.496272       0.961744
min                0.000000       1.000000
25%                0.000000       1.000000
50%                0.000000       2.000000
75%                1.000000       3.000000
max                1.000000       3.000000

[8 rows x 21 columns]